choice
  prompt "Machine selection"
  help
    OE MACHINE to use during the build.

config MACHINE_IMX6ULL_A1_GW
  bool "A1 i.MX6ULL A1 GW"
  help
    OE MACHINE variable is set to a1-imx6ull-gw .

endchoice

choice
  prompt "OE release selection"
  help
    OE release to use during the build.

config RELEASE_SCARTHGAP
  bool "OE Scarthgap 5.0 LTS"
  help
    OE Scarthgap 5.0 LTS release .
endchoice

config INCLUDE_AUTOMATION_ONE_EXTRAS
  bool "Include the automation-one extras layer"
  help
    Include automation-one extras layer.

config INCLUDE_SDK_YML
  bool "Populate SDK for image recipe"
  help
    Populate SDK for selected image recipe.

config INCLUDE_DEBUG_TWEAKS
  bool "Set Debug Tweaks for the image recipe"
  help
    Set Debug Tweaks for the image recipe

config INCLUDE_RAUC
  bool "Include RAUC update handler layer"
  help
    Include the rauc update handler layer

config KAS_TARGET_IMAGE
  string "KAS Target image"
  default "a1-image" if INCLUDE_AUTOMATION_ONE_EXTRAS
  default "core-image-base" if !INCLUDE_AUTOMATION_ONE_EXTRAS
  help
    The build target that will be built. This is often an image name, e.g.
    core-image-base.

choice
  prompt "OE distro selection"
  default USE_A1LINUX_DISTRO if INCLUDE_AUTOMATION_ONE_EXTRAS

config USE_NODISTRO
  bool "Use OE nodistro distribution"
  help
    Use the OE nodistro distribution

config USE_A1LINUX_DISTRO
  bool "Use the A1Linux distribution"
  depends on INCLUDE_AUTOMATION_ONE_EXTRAS
  help
    Use the A1Linux Distribution which is specifically tuned for the
    AutomationOne Gateways.

endchoice

comment "Inferred and expert settings"

config KAS_BUILD_SYSTEM
  string "KAS build system"
  default "openembedded"
  help
    The build_system that will used. The static kconfig string variable
    KAS_BUILD_SYSTEM defines this value which must be openembedded, oe
    or isar is set.

config KAS_INCLUDE_RELEASE_YML_FILE
  string "KAS OE release YML file"
  default "include/common-scarthgap.yml" if RELEASE_SCARTHGAP

config KAS_INCLUDE_BSP_YML_FILE
  string "KAS OE MACHINE and BSP layer YML file"
  depends on MACHINE_IMX6ULL_A1_GW
  default "a1-imx6ull-gw.yml" if MACHINE_IMX6ULL_A1_GW

config KAS_INCLUDE_SDK_YML_FILE
  string "KAS SDK YML file"
  depends on INCLUDE_SDK_YML
  default "include/common-sdk.yml"

config KAS_INCLUDE_DEBUG_TWEAKS_YML_FILE
  string "KAS DEBUG TWEAKS file"
  depends on INCLUDE_DEBUG_TWEAKS
  default "include/common-debug-tweaks.yml"

config KAS_INCLUDE_A1EXTRAS_YML_FILE
  string "KAS AutomationOne extras YML file"
  depends on INCLUDE_AUTOMATION_ONE_EXTRAS
  default "include/common-a1-extras.yml"

config KAS_INCLUDE_A1LINUX_DISTRIBUTION_YAML_FILE
  string "KAS A1Linux distribution YML file"
  depends on USE_A1LINUX_DISTRO
  default "include/common-a1linux.yml"

config KAS_INCLUDE_RAUC_YML_FILE
  string "KAS RAUC YML file"
  depends on INCLUDE_RAUC
  default "include/common-rauc.yml"
